@{
    ViewBag.Title = "Why Calgary?";
}

<h2>Why Calgary?</h2>
<div class="row">
    <div class="col-sm-9 col-md-9 col-lg-9">
        <p>
            Calgary has one of the highest growth in population among Canada with plenty of opportunities for individuals
            to grow and prosper. Calgary fans are known to cheer the hardest and loudest for the two major sports teams residing in the city. 
            Individuals do not have to look far to find something new and exciting to do with such diversity in the city. These are just a few of many reasons
            why Calgarians call this city home.
        </p>
    </div>
</div>
<div class="container">
    <div class="row">
        <h3>Diversity</h3>
        <div class="col-sm-3 col-md-3 col-lg-3">
            <img src="https://static.pexels.com/photos/269850/pexels-photo-269850.jpeg" style="max-height:250px; border-radius:5px;" />
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6">
            <p>
                Calgary has a large wealth of diversity with over 29.4% of the population being
                immigrants from other countries and over 33.7% of the population being visible minorities.
                In the city, there are over 240 ethnic origins and over 140 languages recognized as their mother tongues.
                Net migration in 2016 was around 23.0K individuals, with over 90% of this migration
                coming from other countries. Not only is there such a wealth of diversity, culture, and ethnicity among the city,
                Calgary also has a wide range of different foods to enjoy as well!
            </p>
        </div>
    </div>
    <div class="row">
        <h3>Community</h3>
        <div class="col-sm-3 col-md-3 col-lg-3">
            <img src="https://i.imgur.com/XBYA1.jpg" style="max-height:250px; border-radius:5px;" />
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6">
            Calgary is ranked second in one of the best overall places to live. The city has the highest and fastest
            growing home ownership rate among major Canadian cities, with around 73% of households own their own homes. 
            Calgary's housing price is less than the national average price, making the city an attractive place purchase a house. As a bonus, 
            being so close to the Rocky Mountains enables Calgarians to engage in many different sporting activities.
        </div>
    </div>
    <div class="row">
        <h3>Opportunity</h3>
        <div class="col-sm-3 col-md-3 col-lg-3">
            <img src="https://static.pexels.com/photos/541522/pexels-photo-541522.jpeg" style="max-height:250px; border-radius:5px;" />
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6">
            <p>
                Calgary has one of the highest wages and salaries per employee in Canada. Total
                household income has increased 19.7% in the past five years to a median of around $99.6K.
                Although recent downturn had caused office vacancy to increase, this created many opportunities
                for many businesses outside of Calgary to acquire at competitive prices. Calgary's greatest asset however,
                is its world-class workforce with a hub of talent surrounding our advanced Science, Technology, Engineering,
                and Math (STEM) skills that attract many companies to the city.
            </p>
        </div>
    </div>
</div>