@model dynamic

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!DOCTYPE html>
<html>
<head>
    <style>
        #map {
            height: 400px;
            width: 100%;
        }

        ul.breadcrumb {
            padding: 10px 16px;
            list-style: none;
            background-color: #eee;
        }

        ul.breadcrumb li {
            display: inline;
            font-size: 18px;
        }

        ul.breadcrumb li + li:before {
            padding: 8px;
            color: black;
            content: "/\00a0";
        }

        ul.breadcrumb li a {
            color: #0275d8;
            text-decoration: none;
        }

        ul.breadcrumb li a:hover {
            color: #01447e;
            text-decoration: underline;
        }
    </style>
    

  
</head>
<body>
<h2>Calgary NW Quadrant </h2>
<ul class="breadcrumb">
    <li>Calgary</li>
    <li><a href="#">NE</a></li>
    <li><a href="#">NW</a></li>
    <li><a href="#">SW</a></li>
    <li><a href="#">SE</a></li>
</ul>
    
    
<script>

        var map;
var infoWindowCalgaryNE;
var dim = 25;
var iconSize;
var icons;
function initMap() {
    iconSize = new google.maps.Size(dim, dim);
    icons = {
        CTrain: {
            url: '../images/LRTStation.png',
            scaledSize: iconSize
        },
        Library: {
            url: '../images/PublicLibrary.png',
            scaledSize: iconSize
        },
        CommunityCenter: {
            url: '../images/CommunityCentre.png',
            scaledSize: iconSize
        },
        PoliceStation: {
            url: '../images/PoliceStation.png',
            scaledSize: iconSize
        },
        FireStation: {
            url: '../images/FireStation.png',
            scaledSize: iconSize
        }
    };
    var calgaryMap = { lat: 51.0486, lng: -114.0708 };
    map = new google.maps.Map(document.getElementById('map'),
        {
            zoom: 10,
            center: calgaryMap
        });

    var infowindow = new google.maps.InfoWindow();


</script>


</body>
</html>